@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #edf4e7;
    font-family: 'Poppins', sans-serif;
    color: #2b2b2b;
}

/* BANNER */

.banner-topo{
    width: 100%;
    height: 420px;

    display: block;
}

/* TOPO */


.overlay{
    padding: 60px 8%;
}

.header-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 35px;
}

.logo{
    color: #234D17;
    font-size: 38px;
    font-weight: 700;
}

/* MENU */

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-wrap: wrap;
}

.menu-link{
    background: linear-gradient(135deg, #4d8b2a, #2d5f1d);
    color: white;
    text-decoration: none;
    padding: 15px 28px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.menu-link:hover{
    transform: translateY(-4px) scale(1.03);
    background: linear-gradient(135deg, #5fa531, #397623);
    box-shadow: 0 10px 22px rgba(0,0,0,0.18);
    color: #f4ffe7;
}

/* MAIN */

.conteudo-principal{
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
}

/* CARDS */

.card-sem-fundo{
    background: transparent;
    box-shadow: none;
    padding-top: 10px;
}

.card{
    background: white;
    border-radius: 30px;
    padding: 45px;
    margin-bottom: 35px;

    display: flex;
    align-items: center;
    gap: 40px;

    box-shadow: 0 8px 25px rgba(0,0,0,0.08);

    transition: 0.4s;
}

.card:hover{
    transform: translateY(-5px);
}

.card-reverso{
    flex-direction: row-reverse;
}

.card-texto{
    flex: 1;
}

.card-imagem{
    width: 370px;
    height: 310px;

    object-fit: cover;

    border-radius: 22px;

    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.secao-mini{
    color: #5f8c38;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.titulo-secao{
    font-size: 38px;
    color: #234d17;
    line-height: 1.2;
    margin: 15px 0 25px;
}

.texto{
    color: #5a5a5a;
    font-size: 17px;
    line-height: 1.9;
    margin-bottom: 18px;
    text-align: justify;
}

/* CARD DESTAQUE */

.destaque{
    background: linear-gradient(135deg, #f7ffe9, #ffffff);
}

/* BOTÃO */

.botao-link{
    text-decoration: none;
}

.botao{
    background: linear-gradient(135deg, #4d8b2a, #2d5f1d);
    color: white;
    border: none;
    padding: 16px 35px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.botao:hover{
    background: linear-gradient(135deg, #5fa531, #397623);
    transform: scale(1.03);
}

/* RODAPÉ */

.rodape{
    margin-top: 70px;
    background: linear-gradient(135deg, #3f7421, #18461d);
    padding: 40px;
    text-align: center;
}

.rodape-texto{
    color: white;
    font-size: 15px;
}

/* RESPONSIVO */

@media(max-width: 950px){

    .card,
    .card-reverso{
        flex-direction: column;
    }

    .card-imagem{
        width: 100%;
        height: 300px;
    }

    .titulo-secao{
        font-size: 30px;
    }

    .logo{
        font-size: 45px;
    }

}

@media(max-width: 600px){

    .banner-topo{
        height: 230px;
    }

    .menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu-link{
        width: 100%;
        text-align: center;
    }

    .card{
        padding: 28px;
    }

    .titulo-secao{
        font-size: 25px;
    }

    .texto{
        font-size: 15px;
    }

    .botao{
        width: 100%;
    }

    .logo{
        font-size: 36px;
    }

}